extends layout

block title
  title 首頁 | GU 搜尋 | GU 比價

block append css
  link(rel='stylesheet' href='/static/css/index.css')

block append js
  script(src='/static/js/index.js')
   
block content
  main
    #ctn.ctn
      h1
        img(src='/static/imgs/logo.png')
        |GU 搜尋
      .search_main
        .search_select_main
          select#select_main
            option 關鍵字
            option 商品編號
        .search_main_div
          input#search_main.search_input_main(type='text' placeholder=' 輸入商品關鍵字或編號...')
      //-     img#image_search_icon(src='/static/imgs/photo.png')
      //-     form(action="/imageSearch", method="post", enctype="multipart/form-data")
      //-       input#image_search_file(type='file' name="imageSearch" accept='image/*')
      //-       input#image_search_submit(type='submit')
      //- .image_search_text
      //-     img#image_search_text(src='/static/imgs/image_search.png')
      button(onclick='mainSearchBtn()')
        |查看商品
    #container
