extends layout

block append css
   link(rel='stylesheet' href='/static/css/product.css')

block append js
   script(src='https://cdn.plot.ly/plotly-latest.min.js')
   script(src='/static/js/product.js')

block content
   main
      .container_1
         .main_image_box
            img#main_image.main_image
            #favorite.favorite
               img#favoriteIcon(src="/static/imgs/emptyStar.png")
               #favoriteText 加入收藏
         .about_box
            .name_box
               h1#name.name
               #number.number
            .discount_box
            .high_low_price_box
               #highest_price.highest_price
               #lowest_price.lowest_price
            #current_price.current_price_box
            #date_price.price_curve_box
            details
               summary 商品介紹
               #about
            details
               summary 商品材質
               #texture
            a#website.website_box 前往 GU 官網
      .track_ctn_background
         .track_ctn
            .track_box
               img(src="/static/imgs/bell.png")
               h2 價格追蹤
            form
               .form_box
                  .price_icon
                     img(src="/static/imgs/dollar.png")
                  input#track_price(type="number" name="track_price" placeholder="期望價格" max="99999" min='0' step="1")
               .form_box
                  .email_icon
                     img(src="/static/imgs/email.png")
                  input#track_email(type="email" name="track_email" placeholder="通知信箱")
               .form_btn
                  button#track_btn 開始追蹤
      .container_2_background
         details(open).container_2
            summary 商品實照
            #images_box.images_box
            


