/* ---- Main ---- */

main {
  min-height: calc(100vh - 100px);
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}

main > p {
  display: none;
}

main > .view {
  flex: auto;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main > .view > .view_box {
  display: flex;
  margin: 20px;
  flex: 1 100%;
  padding-bottom: 6px;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: flex-end;
}

main > .view > .view_box > h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #404040;
  font-weight: 700;
  margin-left: 10px;
}

main > .view > .types {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px 10px;
  flex: 1 100%;
}

main > .view > .types > .type {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  margin: 10px;
  padding: 5px 10px;
}

main > .view > .types > .type > a {
  display: inline-block;
  text-decoration: none;
  color: #5a5a5a;
  margin-right: auto;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}

main > .view > .types > .type > a:hover {
  border-bottom-color: #999;
}

@media (min-width: 750px) {
  main > .view > .types > .type {
    width: calc(25% - 20px);
  }
}
