/* ---- Main ---- */

main {
  min-height: calc(100vh - 100px);
  width: 100%;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
}

main > .ctn {
  flex: auto;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main > .ctn > img {
  margin: 10px auto;
  height: 100px;
  width: 100px;
}

main > .ctn > h1 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.25em;
  color: #404040;
  font-weight: 500;
  margin: 10px auto 0;
}

main > .ctn > h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.25em;
  color: #5a5a5a;
  font-weight: 500;
  margin: 10px auto 0;
}
